.new-user-container{
            /* background: red; */
            flex:4
}
.new-user-title{
    padding: 0px 20px;
}       
.new-user-form{
        /* background: blue; */
        display: flex;
        flex-wrap: wrap;
    
        padding: 0px 20px;
}
.new-user-item{
        width: 600px;
        /* background: pink; */
        margin-right: 10px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

}

.new-user-item > label{
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 600;
}

.new-user-item > input{
        height: 20px;
        padding: 10px;
        border: 1px solid gray;
        border-radius:5px;
}
.new-user-gender > input{
         margin-top: 20px;
}

.new-user-gender > label{
        margin: 10px;
        font-size: 18px;
}

.new-user-select{
    border-radius:  5px;
    padding: 10px;
        
}

.new-user-button{
        width: 100px;
        border:none;
        background: darkblue;
        color: white;
        padding:7px 10px;
        border-radius: 10px;
        margin-top: 20px;
}